<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css"/>

    <title>Lab 0 | <%= title %></title>
</head>
<body>
  <h1><%= title %></h1>  
  <h3><b>[To use this generator, replace the name and year in the URL to see how it affects the result.]</b></h3>
  <p> <%= message %> </p>
</body>
</html>